{
  "openapi": "3.1.0",
  "info": {
    "title": "Derive v3 API",
    "version": "0.2.0",
    "description": "JSON-RPC 2.0 methods, served over WebSocket and HTTP POST."
  },
  "servers": [
    {
      "url": "https://api.derive.xyz/v3",
      "description": "Production (HTTP POST base)"
    },
    {
      "url": "https://testnet.api.derive.xyz/v3",
      "description": "Testnet (HTTP POST base)"
    }
  ],
  "tags": [
    {
      "name": "Subaccounts",
      "description": "List, inspect, and label subaccounts, portfolios, positions, and collateral."
    },
    {
      "name": "Session Keys",
      "description": "Register, edit, and list delegated signing keys."
    },
    {
      "name": "Account",
      "description": "Wallet-level account information and settings."
    },
    {
      "name": "Orderbook",
      "description": "Place, replace, cancel, and query orders, trigger orders, and algos."
    },
    {
      "name": "RFQ",
      "description": "Request-for-quote: send RFQs, quote, and execute block trades."
    },
    {
      "name": "Vault Shareholders",
      "description": "Deposit into and withdraw from vaults, and track shares, requests, and performance."
    },
    {
      "name": "Vault Curators",
      "description": "Create and operate curated vaults: settle deposit and withdrawal requests, and manage vault metadata."
    },
    {
      "name": "History",
      "description": "Per-account historical records: orders, trades, transfers, and settlements."
    },
    {
      "name": "Market Maker Protection",
      "description": "Configure, read, and reset market-maker protection."
    },
    {
      "name": "Transfers & Withdrawals",
      "description": "Move collateral between subaccounts, to other wallets, and on-chain."
    },
    {
      "name": "Onchain Actions",
      "description": "L1 onchain actions submitted via OnchainActionManager: register deposit addresses, list pending deposits, and inspect onchain action history."
    },
    {
      "name": "System",
      "description": "Rate limits and transaction lookups."
    },
    {
      "name": "Market Data",
      "description": "Instruments, currencies, tickers, and market-wide feeds."
    },
    {
      "name": "Referrals",
      "description": "Referral codes and program performance."
    },
    {
      "name": "Other",
      "description": "Uncategorized."
    }
  ],
  "paths": {
    "/private/change_subaccount_label": {
      "post": {
        "tags": [
          "Subaccounts"
        ],
        "summary": "private/change_subaccount_label",
        "operationId": "private_change_subaccount_label",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateChangeSubaccountLabelResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Updates the human-readable label for a subaccount. The label must be at most 16 characters, otherwise an invalid-params error is returned. Requires a signed session key with account-info scope; on success it echoes back the subaccount ID and the new label.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeSubaccountLabelRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_all_portfolios": {
      "post": {
        "tags": [
          "Subaccounts"
        ],
        "summary": "private/get_all_portfolios",
        "operationId": "private_get_all_portfolios",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subaccount"
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns the complete portfolio (same shape as get_subaccount) for every subaccount owned by the given wallet, including valuations, margin figures, open orders, positions, and collaterals. If an individual subaccount's portfolio cannot be built, it is returned as a placeholder entry with failed_to_fetch set to true rather than failing the whole request.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllPortfoliosRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_collaterals": {
      "post": {
        "tags": [
          "Subaccounts"
        ],
        "summary": "private/get_collaterals",
        "operationId": "private_get_collaterals",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetCollateralsResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns the subaccount ID and the list of its collateral balances, including each asset's amount and current value valued against live feed data. A lighter alternative to get_subaccount when only collateral holdings are needed.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCollateralsRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_positions": {
      "post": {
        "tags": [
          "Subaccounts"
        ],
        "summary": "private/get_positions",
        "operationId": "private_get_positions",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetPositionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns the subaccount ID and the list of its active positions, including size, mark price, average price, unrealized and realized PnL, and Greeks where applicable, valued against live feed data at request time. A lighter alternative to get_subaccount when only positions are needed.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPositionsRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_subaccount": {
      "post": {
        "tags": [
          "Subaccounts"
        ],
        "summary": "private/get_subaccount",
        "operationId": "private_get_subaccount",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subaccount"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns the complete portfolio for a single subaccount: its label, manager and risk-universe identifiers, margin type and liquidation status, aggregate valuation and margin figures (positions, collaterals, initial and maintenance margin, open-order margin) as decimal strings, plus the full lists of open orders, positions, and collateral balances. Margin, mark price, and Greek values are computed from live feed data at request time.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSubaccountRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_subaccounts": {
      "post": {
        "tags": [
          "Subaccounts"
        ],
        "summary": "private/get_subaccounts",
        "operationId": "private_get_subaccounts",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetSubaccountsResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns the wallet address and the sorted list of subaccount IDs owned by that wallet. Yields an empty list if the wallet has no subaccounts.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSubaccountsRequest"
              }
            }
          }
        }
      }
    },
    "/private/edit_session_key": {
      "post": {
        "tags": [
          "Session Keys"
        ],
        "summary": "private/edit_session_key",
        "operationId": "private_edit_session_key",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionKey"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Updates an existing session key's label, IP allowlist, and/or off-chain scopes for a given wallet; it cannot change on-chain (protocol) scopes, for which you must re-register with private/set_session_key. Editing only the label needs account-info permission, while changing the IP allowlist or off-chain scopes requires admin/owner authorization. Returns the updated session key details.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditSessionKeyRequest"
              }
            }
          }
        }
      }
    },
    "/private/session_keys": {
      "post": {
        "tags": [
          "Session Keys"
        ],
        "summary": "private/session_keys",
        "operationId": "private_session_keys",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateSessionKeysResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns every session key registered to the given wallet, including expired and not-yet-activated keys, each with its public address, scopes, expiry, label, IP allowlist, and permitted subaccounts.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionKeysRequest"
              }
            }
          }
        }
      }
    },
    "/public/get_wallets_from_session_key": {
      "post": {
        "tags": [
          "Session Keys"
        ],
        "summary": "public/get_wallets_from_session_key",
        "operationId": "public_get_wallets_from_session_key",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetWalletsFromSessionKeyResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Public lookup that returns the wallet addresses a given session key is registered to, sorted by expiry, with expired keys omitted. An optional scope filter narrows results to keys holding that off-chain scope; returns an error if no matching, unexpired keys exist.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWalletsFromSessionKeyRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_account": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "private/get_account",
        "operationId": "private_get_account",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetAccountResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns account-level information for a given wallet address: the list of its subaccount IDs, WebSocket rate limits (matching, non-matching, perp, and option messages per second) and any per-endpoint overrides, cancel-on-disconnect and RFQ-maker flags, the account creation timestamp, and a fee_info block with fee discounts and per-instrument maker/taker fee overrides expressed as decimals. Returns an account-not-found error if the wallet has never been registered.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountRequest"
              }
            }
          }
        }
      }
    },
    "/private/cancel": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/cancel",
        "operationId": "private_cancel",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Cancels one resting order identified by order_id, subaccount_id and instrument_name. Requires any trade scope on the session; returns the cancelled order with its final status.",
        "x-rate-limit-class": "matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderRequest"
              }
            }
          }
        }
      }
    },
    "/private/cancel_algo_order": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/cancel_algo_order",
        "operationId": "private_cancel_algo_order",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Cancels a single active algo order identified by order_id and subaccount_id, stopping any further child-order execution. Requires any trade scope; returns the cancelled order.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelAlgoOrderRequest"
              }
            }
          }
        }
      }
    },
    "/private/cancel_all": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/cancel_all",
        "operationId": "private_cancel_all",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelAllResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Cancels every open order on the given subaccount. Optional cancel_trigger_orders and cancel_algo_orders flags additionally clear the subaccount's trigger and algo orders in the same call. Requires any trade scope; returns \"ok\" on success.",
        "x-rate-limit-class": "endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelAllRequest"
              }
            }
          }
        }
      }
    },
    "/private/cancel_all_algo_orders": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/cancel_all_algo_orders",
        "operationId": "private_cancel_all_algo_orders",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelAllAlgoOrdersResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Cancels every active algo order on the given subaccount. Requires any trade scope; returns \"ok\" on success.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelAllAlgoOrdersRequest"
              }
            }
          }
        }
      }
    },
    "/private/cancel_all_trigger_orders": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/cancel_all_trigger_orders",
        "operationId": "private_cancel_all_trigger_orders",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelAllTriggerOrdersResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Cancels every pending trigger order on the given subaccount. Requires any trade scope; returns \"ok\" on success.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelAllTriggerOrdersRequest"
              }
            }
          }
        }
      }
    },
    "/private/cancel_by_instrument": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/cancel_by_instrument",
        "operationId": "private_cancel_by_instrument",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelByInstrumentResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Cancels every open order for a subaccount on a single instrument. Requires any trade scope; returns the number of orders cancelled.",
        "x-rate-limit-class": "matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelByInstrumentRequest"
              }
            }
          }
        }
      }
    },
    "/private/cancel_by_label": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/cancel_by_label",
        "operationId": "private_cancel_by_label",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelByLabelResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Cancels a subaccount's open orders that carry the given client label, optionally scoped to a single instrument_name. When an instrument is supplied the call is acknowledged with the number of orders cancelled; without one it runs as a bulk fire-and-forget cancel and returns a -1 sentinel count. Requires any trade scope.",
        "x-rate-limit-class": "custom",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelByLabelRequest"
              }
            }
          }
        }
      }
    },
    "/private/cancel_by_nonce": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/cancel_by_nonce",
        "operationId": "private_cancel_by_nonce",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelByNonceResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Cancels a single order identified by its signing nonce, instrument_name and subaccount_id. The owning wallet is taken from the authenticated session rather than the request. Requires any trade scope; returns the cancelled order.",
        "x-rate-limit-class": "matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelByNonceRequest"
              }
            }
          }
        }
      }
    },
    "/private/cancel_trigger_order": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/cancel_trigger_order",
        "operationId": "private_cancel_trigger_order",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Cancels a single pending trigger order identified by order_id and subaccount_id. Requires any trade scope; returns the cancelled order.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelTriggerOrderRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_algo_orders": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/get_algo_orders",
        "operationId": "private_get_algo_orders",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns all active algo orders (e.g. time-sliced execution orders) for the given subaccount as a flat list. Read-only query.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAlgoOrdersRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_open_orders": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/get_open_orders",
        "operationId": "private_get_open_orders",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregatedOrdersResult"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns all currently open orders for the given subaccount, including each order's instrument, direction, prices, amounts and status. Only orders resting on the order book are returned: pending trigger orders that have not yet fired are available from get_trigger_orders, and active algo orders from get_algo_orders. Once a trigger order fires, the resulting order appears here if it rests on the book rather than filling immediately; algo orders execute as IOC slices and so never rest here. Read-only query.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOpenOrdersRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_order": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/get_order",
        "operationId": "private_get_order",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns one order (active or completed) by order_id and subaccount_id; the subaccount filter enforces ownership. Returns the order or an order-does-not-exist error.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOrderRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_trigger_orders": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/get_trigger_orders",
        "operationId": "private_get_trigger_orders",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AggregatedTriggerOrdersResult"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns all pending trigger (conditional) orders for the given subaccount that have not yet fired. Read-only query.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTriggerOrdersRequest"
              }
            }
          }
        }
      }
    },
    "/private/order": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/order",
        "operationId": "private_order",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCreatedResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Submits a signed limit or market order for a subaccount, specifying instrument, direction, amount, limit price and max fee, plus optional flags like time-in-force, reduce-only, post-only and MMP. The same endpoint also creates trigger orders (via trigger_type/trigger_price) and algo orders (via algo_type), though the two cannot be combined in one request. Requires a signed order payload and Orderbook trade scope for the instrument's asset; returns the created order with its assigned id and current status.",
        "x-rate-limit-class": "matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        }
      }
    },
    "/private/order_debug": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/order_debug",
        "operationId": "private_order_debug",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDebugResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Takes the same params as private/order and rebuilds the order Action without executing anything, returning the EIP-712 encoded_data, encoded_data_hashed, action_hash, typed_data_hash, domain_separator, action_typehash, module, owner and expected_signer, plus the decoded order action data. Byte-compare these against your local computation to find why a signature is rejected. Requires a logged-in session; no trade scope needed.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        }
      }
    },
    "/private/order_quote": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/order_quote",
        "operationId": "private_order_quote",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderQuoteResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Dry-run pricing helper that estimates the outcome of a prospective order without placing it, returning projected fill price and amount, fees, pre/post initial margin, realized PnL, resulting order status and (where relevant) liquidation price and max tradable amount. All monetary values are returned as decimal strings. The private variant requires account-level authentication.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderQuoteRequest"
              }
            }
          }
        }
      }
    },
    "/private/replace": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "private/replace",
        "operationId": "private_replace",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceOrderResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Atomically cancels a resting order (identified by order_id_to_cancel or nonce_to_cancel) and submits a replacement order in a single request. The payload is a full new-order specification plus the cancel target and an optional expected_filled_amount guard. Requires a signed order payload and Orderbook trade scope; returns both the cancelled and the newly created order.",
        "x-rate-limit-class": "matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceOrderRequest"
              }
            }
          }
        }
      }
    },
    "/public/order_quote": {
      "post": {
        "tags": [
          "Orderbook"
        ],
        "summary": "public/order_quote",
        "operationId": "public_order_quote",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderQuoteResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Public dry-run variant of order_quote that estimates fill price, fees, margin impact, projected order status and realized PnL for a prospective order without placing it, returning all values as decimal strings. Unlike private/order_quote it bypasses session scope checks, so it can be used to preview costs without account authentication.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderQuoteRequest"
              }
            }
          }
        }
      }
    },
    "/private/cancel_batch_quotes": {
      "post": {
        "tags": [
          "RFQ"
        ],
        "summary": "private/cancel_batch_quotes",
        "operationId": "private_cancel_batch_quotes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelBatchResult"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Cancels all open quotes on a subaccount that match the supplied filters (any combination of quote_id, rfq_id, label, and nonce, applied together) in a single atomic operation. Omitting the optional filters targets all of the subaccount's open quotes. Returns the list of cancelled quote ids. Requires an RFQ trade scope.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelBatchQuotesRequest"
              }
            }
          }
        }
      }
    },
    "/private/cancel_batch_rfqs": {
      "post": {
        "tags": [
          "RFQ"
        ],
        "summary": "private/cancel_batch_rfqs",
        "operationId": "private_cancel_batch_rfqs",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelBatchRfqsResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Cancels all open RFQs on a subaccount that match the supplied filters (any combination of rfq_id, label, and nonce, applied together), cascade-cancelling their quotes. Omitting the optional filters targets all of the subaccount's open RFQs. Returns the set of cancelled RFQs. Requires an RFQ trade scope.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelBatchRfqsRequest"
              }
            }
          }
        }
      }
    },
    "/private/cancel_quote": {
      "post": {
        "tags": [
          "RFQ"
        ],
        "summary": "private/cancel_quote",
        "operationId": "private_cancel_quote",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Cancels one open quote owned by the subaccount, identified by quote_id (optionally further constrained by rfq_id, label, or nonce). Returns the cancelled quote, or a quote-not-found error if it does not exist or is no longer open. Requires an RFQ trade scope.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelQuoteRequest"
              }
            }
          }
        }
      }
    },
    "/private/cancel_rfq": {
      "post": {
        "tags": [
          "RFQ"
        ],
        "summary": "private/cancel_rfq",
        "operationId": "private_cancel_rfq",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelRfqResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Cancels one open RFQ owned by the given subaccount and cascade-cancels any quotes makers have submitted against it, notifying those makers. Identify the RFQ by its rfq_id. Returns \"ok\" on success. Requires an RFQ trade scope.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelRfqRequest"
              }
            }
          }
        }
      }
    },
    "/private/execute_quote": {
      "post": {
        "tags": [
          "RFQ"
        ],
        "summary": "private/execute_quote",
        "operationId": "private_execute_quote",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteExecuteResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Taker-side call that accepts a specific maker quote and settles the trade atomically. You reference the rfq_id and quote_id and supply the taker's priced legs, direction, max fee, and EIP-712 signature (signer, signature, nonce, expiry), with an optional taker-protection flag. The signature is verified and the taker fill, maker quote, and RFQ are updated together in one atomic step. Requires trade scope for every instrument in the legs.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteQuoteRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_quotes": {
      "post": {
        "tags": [
          "RFQ"
        ],
        "summary": "private/get_quotes",
        "operationId": "private_get_quotes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteGetResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns a paginated, merged view of a subaccount's quotes, combining currently open quotes with the archived history of filled, cancelled, and expired ones. Supports filtering by quote_id, rfq_id, status, and a from/to timestamp window, with page and page_size controls. Each entry includes priced legs, direction, fees, liquidity role, and fill percentage.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQuotesRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_rfqs": {
      "post": {
        "tags": [
          "RFQ"
        ],
        "summary": "private/get_rfqs",
        "operationId": "private_get_rfqs",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RFQGetResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns a paginated, merged view of a subaccount's RFQs, combining currently open RFQs with the archived history of filled, cancelled, and expired ones. Supports filtering by rfq_id, status, and a from/to timestamp window, with page and page_size controls. Each entry includes legs, status, timestamps, cost bounds, and fill percentage.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRfqsRequest"
              }
            }
          }
        }
      }
    },
    "/private/poll_quotes": {
      "post": {
        "tags": [
          "RFQ"
        ],
        "summary": "private/poll_quotes",
        "operationId": "private_poll_quotes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotePollResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Taker-side call that lists the maker quotes received against RFQs owned by the subaccount. Supports filtering by quote_id, rfq_id, status, and a timestamp window, with pagination. Returns public quote views (including the maker's wallet) without any signing material.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PollQuotesRequest"
              }
            }
          }
        }
      }
    },
    "/private/poll_rfqs": {
      "post": {
        "tags": [
          "RFQ"
        ],
        "summary": "private/poll_rfqs",
        "operationId": "private_poll_rfqs",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RFQPollResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Maker-side call that lists the RFQs a subaccount is eligible to quote, i.e. RFQs that are open to all makers or that name the maker's wallet as a counterparty. Supports filtering by rfq_id, status, an originating RFQ subaccount, and a timestamp window, with pagination. Returns public RFQ views without taker-private signing material.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PollRfqsRequest"
              }
            }
          }
        }
      }
    },
    "/private/replace_quote": {
      "post": {
        "tags": [
          "RFQ"
        ],
        "summary": "private/replace_quote",
        "operationId": "private_replace_quote",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteReplaceResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Maker-side call that atomically cancels an existing quote and submits a new signed quote for the same RFQ in one operation. You provide the new priced legs, direction, max fee, and EIP-712 signature, plus the quote to cancel (by quote_id or nonce_to_cancel). Returns the cancellation result together with the newly created quote. Requires trade scope for every instrument quoted.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceQuoteRequest"
              }
            }
          }
        }
      }
    },
    "/private/rfq_get_best_quote": {
      "post": {
        "tags": [
          "RFQ"
        ],
        "summary": "private/rfq_get_best_quote",
        "operationId": "private_rfq_get_best_quote",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RfqGetBestQuoteResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Taker-side dry run that evaluates a prospective RFQ (its legs and intended direction) without creating anything. Returns the best available maker quote if one exists, along with the expected fee, validity, projected liquidation prices, and realized-PnL estimate for taking it.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RfqGetBestQuoteRequest"
              }
            }
          }
        }
      }
    },
    "/private/send_quote": {
      "post": {
        "tags": [
          "RFQ"
        ],
        "summary": "private/send_quote",
        "operationId": "private_send_quote",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Maker-side call that submits a priced, signed quote in response to an existing RFQ. You provide the priced legs, direction, max fee, an EIP-712 signature (signer, signature, nonce, expiry), and optional label or MMP flag. The quote's signature is verified and validated against the referenced RFQ before it is stored. Returns the created quote. Requires trade scope for every instrument quoted.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendQuoteRequest"
              }
            }
          }
        }
      }
    },
    "/private/send_rfq": {
      "post": {
        "tags": [
          "RFQ"
        ],
        "summary": "private/send_rfq",
        "operationId": "private_send_rfq",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rfq"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Taker-side call that opens a new RFQ for a multi-leg structure on a subaccount, inviting makers to quote it. You supply the legs (instrument, amount, and direction per leg) plus optional limits such as min/max total cost, a partial-fill step, a label, and a list of specific counterparties to restrict who can see it. Returns the created RFQ including its assigned id and validity window. Requires trade scope for every instrument in the legs.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendRfqRequest"
              }
            }
          }
        }
      }
    },
    "/public/execute_quote_debug": {
      "post": {
        "tags": [
          "RFQ"
        ],
        "summary": "public/execute_quote_debug",
        "operationId": "public_execute_quote_debug",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteExecuteDebugResult"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Public signing-preview helper that returns the taker's EIP-712 encoding artifacts (encoded data and hashes) plus the maker-side encoded legs and legs hash for a quote execution a client is about to sign. It does not verify signatures, persist anything, or execute the trade; use it to construct and check the exact payload before calling private/execute_quote.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicExecuteQuoteDebugRequest"
              }
            }
          }
        }
      }
    },
    "/public/send_quote_debug": {
      "post": {
        "tags": [
          "RFQ"
        ],
        "summary": "public/send_quote_debug",
        "operationId": "public_send_quote_debug",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteSendDebugResult"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Public signing-preview helper that returns the EIP-712 encoding artifacts (encoded data, its hash, the action hash, and the typed-data hash) for a maker quote a client is about to sign. It does not verify signatures, persist anything, or place a quote; use it to construct and check the exact payload to sign before calling private/send_quote.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicSendQuoteDebugRequest"
              }
            }
          }
        }
      }
    },
    "/private/cancel_all_vault_requests": {
      "post": {
        "tags": [
          "Vault Shareholders"
        ],
        "summary": "private/cancel_all_vault_requests",
        "operationId": "private_cancel_all_vault_requests",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultCancelResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Submits a signed cancel action that drains all of the caller's pending deposit and withdraw requests for a given vault and posts the corresponding on-chain operation. Input is the vault subaccount; any subaccount the caller owns may sign. Requires the user-cancel permission.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelVaultRequestRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_live_vault_requests": {
      "post": {
        "tags": [
          "Vault Shareholders"
        ],
        "summary": "private/get_live_vault_requests",
        "operationId": "private_get_live_vault_requests",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleVaultRequestsResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns the caller's currently-pending vault deposit and withdraw requests, read live from the vault queue. Not paginated (the live queue is bounded); settled and terminal history is served by get_vault_request_history. The wallet parameter must match the authenticated connection.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLiveVaultRequestsRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_shareholder_vaults": {
      "post": {
        "tags": [
          "Vault Shareholders"
        ],
        "summary": "private/get_shareholder_vaults",
        "operationId": "private_get_shareholder_vaults",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultIdsResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns the subaccount ids of the vaults in which the given wallet holds shares. The wallet parameter must match the authenticated connection. Read-only.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShareholderVaultsRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_vault_request_history": {
      "post": {
        "tags": [
          "Vault Shareholders"
        ],
        "summary": "private/get_vault_request_history",
        "operationId": "private_get_vault_request_history",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedVaultRequestHistory"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns the caller's full vault action history (deposits, withdrawals, force-withdrawals, and cancels) across every status — enqueued, requested, applied, cancelled, rejected, or expired — with one row per action at its latest state. Paginated by page and page_size; monetary amounts, prices, and share counts are decimal strings. The wallet parameter must match the authenticated connection.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetVaultRequestHistoryRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_vault_shares": {
      "post": {
        "tags": [
          "Vault Shareholders"
        ],
        "summary": "private/get_vault_shares",
        "operationId": "private_get_vault_shares",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultSharesResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns the caller's share balance for every vault it holds shares in, each paired with the full enriched vault row (the same shape as public/get_vault). The wallet parameter must match the authenticated connection. Read-only.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetVaultSharesRequest"
              }
            }
          }
        }
      }
    },
    "/private/request_vault_deposit": {
      "post": {
        "tags": [
          "Vault Shareholders"
        ],
        "summary": "private/request_vault_deposit",
        "operationId": "private_request_vault_deposit",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultRequestAckResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Submits a signed deposit action from the user's source subaccount and enqueues it in the vault's pending-deposit queue for the curator to settle. Inputs are the target vault subaccount, the deposit asset, and the amount as a decimal string. Returns an acknowledgement with the queued request; requires the user-deposit permission.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestVaultDepositRequest"
              }
            }
          }
        }
      }
    },
    "/private/request_vault_withdraw": {
      "post": {
        "tags": [
          "Vault Shareholders"
        ],
        "summary": "private/request_vault_withdraw",
        "operationId": "private_request_vault_withdraw",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultRequestAckResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Submits a signed withdraw action that enqueues a request to burn a given number of vault shares and redeem the proceeds to the user's subaccount. Inputs are the vault subaccount and the share quantity to burn (decimal string). Returns an acknowledgement with the queued request; requires the user-withdraw permission.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestVaultWithdrawRequest"
              }
            }
          }
        }
      }
    },
    "/public/get_vault": {
      "post": {
        "tags": [
          "Vault Shareholders"
        ],
        "summary": "public/get_vault",
        "operationId": "public_get_vault",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vault"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns the full vault record — on-chain state plus curator metadata — for one vault subaccount id. Unauthenticated and read-only.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetVaultRequest"
              }
            }
          }
        }
      }
    },
    "/public/get_vault_action_history": {
      "post": {
        "tags": [
          "Vault Shareholders"
        ],
        "summary": "public/get_vault_action_history",
        "operationId": "public_get_vault_action_history",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedVaultActionHistory"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns a vault's finalized deposit, withdrawal, fee-accrual, and cancel events — including NAV, share price, high-water mark, and the fee-share split across management, performance, curator, and protocol — at the vault level (per-holder position details are omitted). Inputs are the vault subaccount, an optional event_type filter, and pagination. Amounts and prices are decimal strings. Unauthenticated.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetVaultActionHistoryRequest"
              }
            }
          }
        }
      }
    },
    "/public/get_vault_performance_history": {
      "post": {
        "tags": [
          "Vault Shareholders"
        ],
        "summary": "public/get_vault_performance_history",
        "operationId": "public_get_vault_performance_history",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultPerformanceHistoryResult"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns a time series of a vault's mark-to-market performance (NAV, share price, total and curator shares, high-water mark, optional benchmark) sampled hourly and downsampled to the requested resolution (1h, 8h, 24h, or 1wk). Supports optional from/to unix-second bounds and a limit (newest first, default 1000, capped at 10000). Values are decimal strings, with live prices nullable. Unauthenticated.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetVaultPerformanceHistoryRequest"
              }
            }
          }
        }
      }
    },
    "/public/get_vaults": {
      "post": {
        "tags": [
          "Vault Shareholders"
        ],
        "summary": "public/get_vaults",
        "operationId": "public_get_vaults",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultsResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns every vault in the system, each paired with its subaccount id, paginated by page and page_size. Unauthenticated and read-only.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetVaultsRequest"
              }
            }
          }
        }
      }
    },
    "/private/burn_vault_shares": {
      "post": {
        "tags": [
          "Vault Curators"
        ],
        "summary": "private/burn_vault_shares",
        "operationId": "private_burn_vault_shares",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultSettleResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Curator-only endpoint that settles a pending withdraw request by signing a burn approval at a quoted share price (USD per share). Takes the request id and the user's withdraw-action hash, burns the shares, and returns the settlement result. Requires the curator mint-and-burn permission.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BurnSharesRequest"
              }
            }
          }
        }
      }
    },
    "/private/create_vault": {
      "post": {
        "tags": [
          "Vault Curators"
        ],
        "summary": "private/create_vault",
        "operationId": "private_create_vault",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultCreateResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Registers a new vault on-chain from a signed action; the signing wallet becomes the vault's curator and seeds the initial deposit from its funding subaccount. Inputs set the deposit asset, initial deposit amount, initial share price, management/performance fee rates (in basis points), max slippage, redemption cooldown, an optional benchmark asset for the high-water mark, and the max sequencer fee authorized. Requires the vault curator-create permission.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVaultRequest"
              }
            }
          }
        }
      }
    },
    "/private/force_burn": {
      "post": {
        "tags": [
          "Vault Curators"
        ],
        "summary": "private/force_burn",
        "operationId": "private_force_burn",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultForceBurnResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Curator-only endpoint that builds an on-chain action to forcibly redeem a given holder's entire share balance at the current mark-to-market share price. Inputs are the vault subaccount and the holder's wallet address. Requires the curator mint-and-burn permission.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForceBurnRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_curated_vaults": {
      "post": {
        "tags": [
          "Vault Curators"
        ],
        "summary": "private/get_curated_vaults",
        "operationId": "private_get_curated_vaults",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultIdsResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns the subaccount ids of the vaults curated by the given wallet. The wallet parameter must match the authenticated connection. Read-only.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCuratedVaultsRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_live_burn_requests": {
      "post": {
        "tags": [
          "Vault Curators"
        ],
        "summary": "private/get_live_burn_requests",
        "operationId": "private_get_live_burn_requests",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleVaultRequestsResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Curator-only endpoint that returns a FIFO page of a vault's pending withdraw (burn) requests. Inputs are the vault subaccount and a page limit. Requires the curator mint-and-burn permission.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLiveBurnRequestsRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_live_mint_requests": {
      "post": {
        "tags": [
          "Vault Curators"
        ],
        "summary": "private/get_live_mint_requests",
        "operationId": "private_get_live_mint_requests",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleVaultRequestsResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Curator-only endpoint that returns a FIFO page of a vault's pending deposit (mint) requests. Inputs are the vault subaccount and a page limit. Requires the curator mint-and-burn permission.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLiveMintRequestsRequest"
              }
            }
          }
        }
      }
    },
    "/private/mint_vault_shares": {
      "post": {
        "tags": [
          "Vault Curators"
        ],
        "summary": "private/mint_vault_shares",
        "operationId": "private_mint_vault_shares",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultSettleResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Curator-only endpoint that settles a pending deposit request by signing a mint approval at a quoted share price (USD per share). Takes the request id and the user's deposit-action hash, mints the corresponding shares, and returns the settlement result. Requires the curator mint-and-burn permission.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MintSharesRequest"
              }
            }
          }
        }
      }
    },
    "/private/reject_deposit_request": {
      "post": {
        "tags": [
          "Vault Curators"
        ],
        "summary": "private/reject_deposit_request",
        "operationId": "private_reject_deposit_request",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultRequestAckResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Curator-only endpoint that removes a queued deposit request off-chain (no on-chain settlement), recording the rejection with an optional short reason. Takes the request id and returns an acknowledgement. Requires the curator mint-and-burn permission.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectDepositRequestRequest"
              }
            }
          }
        }
      }
    },
    "/private/update_vault_info": {
      "post": {
        "tags": [
          "Vault Curators"
        ],
        "summary": "private/update_vault_info",
        "operationId": "private_update_vault_info",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OffchainAckResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Applies an off-chain patch to a vault the caller curates, updating any of its display name, description, advisory mark-to-market cap (a USD decimal), or whitelist-only flag. Only the fields supplied are changed. The caller must own the vault's subaccount (i.e. be its curator); description length is capped.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVaultInfoRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_deposit_history": {
      "post": {
        "tags": [
          "History"
        ],
        "summary": "private/get_deposit_history",
        "operationId": "private_get_deposit_history",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositHistoryResult"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns settled deposits for a single subaccount or an entire wallet (specify exactly one), optionally bounded by a start/end timestamp window. Each entry reports the deposited amount as a decimal, the fee routed to the security module (the net credited amount is amount minus fee), and the resolved settlement batch and status.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositHistoryRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_erc20_transfer_history": {
      "post": {
        "tags": [
          "History"
        ],
        "summary": "private/get_erc20_transfer_history",
        "operationId": "private_get_erc20_transfer_history",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferHistoryResult"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns settled spot (ERC-20) transfers involving a single subaccount or an entire wallet (specify exactly one), optionally bounded by a start/end timestamp window. Each entry reports the transfer amount and fee as decimals along with direction — the sender sees the gross amount plus fee, the receiver sees the net credit — plus the resolved settlement batch and status.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetErc20TransferHistoryRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_funding_history": {
      "post": {
        "tags": [
          "History"
        ],
        "summary": "private/get_funding_history",
        "operationId": "private_get_funding_history",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpSettlementHistoryResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns a paginated history of perpetual funding (settlement) events for a single subaccount or an entire wallet (specify exactly one), optionally bounded by a start/end timestamp window and filtered by perpetual instrument name. The response includes the funding events with their instrument name and settled amounts, plus pagination info with total count and page count.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFundingHistoryRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_interest_history": {
      "post": {
        "tags": [
          "History"
        ],
        "summary": "private/get_interest_history",
        "operationId": "private_get_interest_history",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterestHistoryResult"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns realized interest settlements per subaccount, for a single subaccount or an entire wallet (specify exactly one), optionally bounded by a start/end timestamp window. Each entry gives the settled interest as a decimal, where a negative value was paid (borrowed) and a positive value was received (supplied).",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInterestHistoryRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_option_settlement_history": {
      "post": {
        "tags": [
          "History"
        ],
        "summary": "private/get_option_settlement_history",
        "operationId": "private_get_option_settlement_history",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionSettlementHistoryResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns option settlement (expiry) events for a single subaccount or an entire wallet (specify exactly one). Each settlement includes the reconstructed option instrument name and the settled amounts for that expired position.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOptionSettlementHistoryParams"
              }
            }
          }
        }
      }
    },
    "/private/get_order_history": {
      "post": {
        "tags": [
          "History"
        ],
        "summary": "private/get_order_history",
        "operationId": "private_get_order_history",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOrdersResult"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns a paginated history of orders for a single subaccount or for an entire wallet (specify exactly one), optionally bounded by a from/to timestamp window. Only orders in a terminal state (filled, cancelled, expired) are recorded here, one record per order. Trigger and algo orders appear once they terminate, carrying their accumulated filled amount; while they are still live — including partially executed algo orders and trigger orders that have not yet fired — read them from get_trigger_orders and get_algo_orders instead. Each page includes the order records plus pagination info with the total count and number of pages.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOrderHistoryRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_trade_history": {
      "post": {
        "tags": [
          "History"
        ],
        "summary": "private/get_trade_history",
        "operationId": "private_get_trade_history",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTradesResult"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns a paginated history of executed trades for a single subaccount or an entire wallet (specify exactly one), with optional filters for a time window, order id, instrument name, or quote id. The response includes the trade records and pagination info with total count and page count.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeHistoryRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_withdrawal_history": {
      "post": {
        "tags": [
          "History"
        ],
        "summary": "private/get_withdrawal_history",
        "operationId": "private_get_withdrawal_history",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawalHistoryResult"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns settled withdrawals for a single subaccount or an entire wallet (specify exactly one), optionally bounded by a start/end timestamp window. Each entry reports the withdrawn amount as a decimal, the fee routed to the security module (the net amount sent to the recipient is amount minus fee), and the resolved settlement batch and status.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWithdrawalHistoryRequest"
              }
            }
          }
        }
      }
    },
    "/public/get_liquidation_history": {
      "post": {
        "tags": [
          "History"
        ],
        "summary": "public/get_liquidation_history",
        "operationId": "public_get_liquidation_history",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiquidationHistoryResult"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns a paginated history of liquidation auctions, newest first, for a single subaccount or across all of them, optionally bounded by a start/end timestamp window over the auction start. Each entry gives the auctioned subaccount, whether the auction was solvent or insolvent, the fee charged at start, the start and end timestamps, and the bids that filled it with the fraction of the account each absorbed and the cash it moved.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLiquidationHistoryRequest"
              }
            }
          }
        }
      }
    },
    "/private/get_mmp_config": {
      "post": {
        "tags": [
          "Market Maker Protection"
        ],
        "summary": "private/get_mmp_config",
        "operationId": "private_get_mmp_config",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MmpConfigResult"
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Returns the market maker protection (MMP) settings for a subaccount, optionally filtered to a single currency. Each entry reports the amount and delta limits (as decimal strings), the rolling interval and freeze duration (in milliseconds), and the current freeze state, including whether MMP is currently frozen and the timestamp at which it unfreezes.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MmpScopeRequest"
              }
            }
          }
        }
      }
    },
    "/private/reset_mmp": {
      "post": {
        "tags": [
          "Market Maker Protection"
        ],
        "summary": "private/reset_mmp",
        "operationId": "private_reset_mmp",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResetMmpResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Clears an active market maker protection freeze and resets the rolling MMP window for a subaccount, optionally scoped to a single currency. Use this to resume quoting after MMP has frozen a subaccount. Requires a trading-scoped session key and returns \"ok\" on success.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MmpScopeRequest"
              }
            }
          }
        }
      }
    },
    "/private/set_mmp_config": {
      "post": {
        "tags": [
          "Market Maker Protection"
        ],
        "summary": "private/set_mmp_config",
        "operationId": "private_set_mmp_config",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetMmpConfigResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Creates or fully replaces the market maker protection settings for a subaccount and currency. Accepts an amount limit and delta limit (as decimals) plus the rolling interval and freeze duration in milliseconds; omitted limits default to zero. Requires a trading-scoped session key and echoes the applied configuration back.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetMmpConfigRequest"
              }
            }
          }
        }
      }
    },
    "/private/transfer_positions": {
      "post": {
        "tags": [
          "Transfers & Withdrawals"
        ],
        "summary": "private/transfer_positions",
        "operationId": "private_transfer_positions",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferPositionsResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Atomically transfers one or more derivative positions between a maker and a taker subaccount using matched, signed transfer quotes. Each side supplies its subaccount, signer, nonce, signature, expiry, max fee, direction, and priced legs (instrument, amount, price); the two quotes must mirror each other. Requires a session key with transfer permission and returns the resulting operation details.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferPositionsRequest"
              }
            }
          }
        }
      }
    },
    "/private/transfer_spot": {
      "post": {
        "tags": [
          "Transfers & Withdrawals"
        ],
        "summary": "private/transfer_spot",
        "operationId": "private_transfer_spot",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateTransferSpotResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
        },
        "description": "Submits a signed transfer of a single spot asset from one subaccount to another subaccount you own. You specify the source and destination subaccounts (or set new_subaccount_manager to create a new destination subaccount under a manager), the asset and its sub_id, the amount, a nonce, signer, signature with expiry, and the maximum USD sequencer fee. Requires a session key with a transfer permission and returns the operation id and uuid.",
        "x-rate-limit-class": "non_matching",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateTransferSpotRequest"
              }
            }
          }
        }
      }
    },
    "/private/transfer_spot_external": {
      "post": {
        "tags": [
          "Transfers & Withdrawals"
        ],
        "summary": "private/transfer_spot_external",
        "operationId": "private_transfer_spot_external",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateTransferSpotExternalResponse"
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error (see Error Codes)"
          }
[...]
